{% extends 'admin/BaseAdmin.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <h1>Access Denied</h1>

    <h2> 403  :   you don't have rights to access this page </h2>


{% endblock %}
