{% extends 'admin/BaseAdmin.html.twig' %}

{% block title %}Medicine Request List{% endblock %}

{% block body %}
    <h1>Medicine Request List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RequestDate</th>

            </tr>
        </thead>
        <tbody>
        {% for medicine_request in medicine_requests %}
            <tr>
                <td>{{ medicine_request.id }}</td>
                <td>{{ medicine_request.RequestDate ? medicine_request.RequestDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medicine_request_new') }}">Create new</a>
{% endblock %}
