{% extends 'base.html.twig' %}

{% block title %}New Donor{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}
{% block body %}

    <div class="container w-50 p-5 ">

        <div class="alert-success alert">
            Thank you for filling up your information , you will be contacted as soon as possible for the analysis
        </div>


    </div>

{% endblock %}
